@import "/src/colours.scss";

.statistics {
  .statistic {
    min-width: 200px;
  }

  .statistic-group {
    .title {
      text-align: left;
    }

    .list {
      display: flex;
      gap: 20px;
      overflow-y: scroll;
      padding-bottom: 20px;
    }
  }
}