@import "/src/colours.scss";

.office-scores {
  .group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      text-align: left;
      color: rgba($text-colour, 0.6);
    }
  }

  .list {
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    padding-bottom: 20px;

    .statistic {
      .title {
        text-align: left;
      }
    }
  }
}